# Temporary files #
###################
*.swp
*.swo
*~

# Python files #
###################
*.pyc

# IPython files #
###################
.ipynb_checkpoints/

# VIMDIFF file #
###################
*.orig

# vim-sync config #
###################
*.sync
.sync

*.egg-info
*.egg-info/
*.egg-info/*
